@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    margin: 0;
    height: 100vh;
    border: 7px solid #1f3b27;
    overflow: hidden;
    border-radius: 7px;
    background-color: #e9e9e9;
}

.sidebar {
  height: 98.5vh !important;
  min-height: unset !important;
  overflow-y: auto;
  border-radius: 7px 0px 0px 7px;
}

main {
    border-radius: 0px 7px 7px 0px;
    height: 98.5vh;
    overflow-y: auto;
    position: relative;
} 
label {
    font-weight: 600;
}