@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@media(min-width: 768px) {
   body {
    margin: 0;
    height: 100vh;
    border: 3px solid #4dae66;
    overflow: hidden;
    border-radius: 7px;
    background-color: #e9e9e9;
}

main {
    border-radius: 0px 7px 7px 0px;
    height: 98.5vh;
    overflow-y: auto;
    position: relative;
} 

.sidebar {
  height: 98.5vh !important;
  min-height: unset !important;
  overflow-y: auto;
  border-radius: 7px 0px 0px 7px;
}
}
 



label {
    font-weight: 600;
}

.nav-link:hover {
    background-color: #b21691 !important; /* σκούρο πράσινο */
    color: #ffffff !important; /* λευκό κείμενο */
}

.nav-link.active {
    background: #b21691  !important;
    color: #fff !important;
}

.logout-button{
    position: absolute;
    bottom: 20px;
}
.nav-link{
    border-radius: 5px;
}

.logo-img  img{
    max-width: 160px;
    margin: auto;
}

.btn-primary,.btn:hover{
    background-color: #b21691;
    border-color: #b21691;
}